#body{
 background-color:#ffe6bb 
}

a{
  color: #fff;

}


/*Carousel CSS*/
.Carousel{
 margin-top:5%;
padding:2rem;
display: block;

}
.Carousel>div{
 
    border-radius: 2rem;
    height:100%;
    box-shadow: 0px 0px 2rem black;
  background-attachment: Scroll;
  background-color:#bbd4ff;

background-position: center}
 .AmmanBg{
} 



.MainSlide{
  padding:7.5% 0%;
  vertical-align: middle;
  text-align: center;
}


.App {
  text-align: center;
}

.MenuHeader{
  margin-bottom:-4rem;
  padding:1.5rem;





}


.WeatherIcon{
  
  max-width: 20%;
  max-height: 50%;
  
  left:5%;
  top:20%;
  display: inline-block;
  margin-right:0px;



}
/* HEADER CSS*/
.Links{
  color:black;
}
.Links:hover{
  color:#000;
}

.App-head{

  background-color: #e6bbff;
  height:auto;
  border:solid 1px black;
  padding:10px;
  font-family:monospace;
  font-size:2rem;
  margin:2% 5%;
  border-radius: 4rem;
  box-shadow: 0px 0px 1rem black;
  position:fixed;
  z-index:100;
  width: 90%;
color:white;

  
}

.App-head>span{
  display: inline;
  width : 80%;
  color:black;

}
.nav{
display: inline;
  float: right;
  margin : 5px;
  margin-top: 0px;
  color:Black;

}
/* MENU CSS*/

.menu{

  background-color: transparent;
  position: absolute;
  width: 20%;
  height:80%;
  top:-0%;
left:0%;
  border-radius: 2rem;
  color:purple;

}
.menuItems{
  margin-top:3.8rem;
  background-color:#e6bbff;
height: 1100%;
  border-radius: 1.4rem;
  box-shadow: -1rem 1.5rem 2rem black;
  border : 1px solid black;
  overflow-y: scroll;


}
.menuItems>div{
  font-weight: bold;
  margin: 3%;
  margin-left:0px;
  padding-left:10px;
  border-bottom: 0.5px solid rgb(107, 99, 99);
  color:purple;


}
.menuItems>ul{
list-style-type: none;

}
.menuItems>ul>li{
margin-left: -40px;
margin-right: 10px;
margin-top: 0px;
padding:10px;
color:#000;
display: block;
border-bottom: 0.5px solid rgb(107, 99, 99);

}


.mask{
   background-color: rgba(0,0,0,0.7);
   position: fixed;
   width: 1000%;
   height: 13000%;
    top: -100%;
    left:-10%;
 }

 #menu{
  position: absolute;    
   
 }

 .menuOff     
{    
    display: none;    
}    
    
.menuOn    
{    
  
    display: block;    
   

  }  
 

 /* TABLE*/
 .tg  {
   border-collapse:collapse;
  border-spacing:0;
  text-align: center;
  
}
.tg td{
  border-color:transparent;
  border-width:0;
  font-size:3rem;
  overflow:hidden;
  padding:10px 5px  ;
  word-break:normal;
color:black;
text-shadow: 0px 0px 0.15rem white;


}

.tg th{border-color:transparent;
  border-width:0;
  font-size:3rem;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
  color:black;
text-shadow: 0px 0px .15rem white;

}
.tg .tg-0pky{border-color:inherit;
  text-align:center;
  vertical-align:top}
.tg .tg-0lax{text-align:center;vertical-align:top}

table{
  table-layout: fixed;
   width: 80%;
   margin: 0 auto;
   margin-top:5%;
   border-radius: 3rem;
   box-shadow:0px 0px 2rem black;
   
   
}
col{
  width: 50%;
}
/* FOOTER CSS*/
@media only screen and (max-width: 768px){
  .tg td{
    font-size:1rem;

  }
  .tg th{ 
       font-size:1rem;
       padding-top: 10%;
  }
  table{
    border-radius: 1rem;
    margin-top:15%;

  }
  .menuItems{
    width:400%;
    height: 1000%;
  }
  .Carousel>div{
  height:auto;

  }
}
@media only screen and (max-height: 1024px){
  @media only screen and (max-width: 768px){
  .Carousel{
    margin:10% 0;
    
  }
  .Carousel>div{
  
  height:120%;
  
  }
  .tg td{
    font-size:2rem;
    font-weight: bold;

  }
  .tg th{ 
       font-size:2rem;
       padding-top: 10%;
       font-weight: bold;

  }
}}
@media only screen and (max-height: 812px){
  @media only screen and (max-width: 411px){

  .Carousel{
    margin-top:15%;
    margin-bottom: 0;
  }
  .tg td{
    font-size:1rem;
    font-weight: bold;

  }
  .tg th{ 
       font-size:1rem;
       padding-top: 10%;
       font-weight: bold;

  }}}
  @media only screen and (max-height: 570px){
    @media only screen and (max-width: 340px){

.App-head{

  height:10%;

}
.App-head .Links{
font-size: 1.5rem;;
}



    }}